// =====
// Note:
// Bolt is supposed to be as unopinionated as possible.
// But to show the abilities of Bolt, we needed to create a theme.
// Use this theme as you may.
// =====

// Theme Variables
$border-radius: 20px;
$blue: #0074d9;

// Buttons
.btn {
  border-radius: $border-radius;
}
.btn-blue {
  color: white;
  background-color: $blue;
}
.btn-blue:hover {
  box-shadow: inset 0 0 0 20rem $darken-1;
}
.btn-blue:active {
  box-shadow: inset 0 0 0 20rem $darken-2,
    inset 0 3px 4px 0 $darken-3,
    0 0 1px $darken-2;
}
.btn-blue.is-disabled,
.btn-blue.is-disabled:hover,
.btn-blue.is-disabled:focus,
.btn-blue.is-disabled:active {
  opacity: .5;
  box-shadow: inset 0 0 0 0 $darken-1 !important;
  cursor: not-allowed;
}
