// ======================
// Imports
// ======================

@import "../../styles/bolt-config";
@import "../../styles/bolt";

// ======================
// Custom code just for test
// ======================

// Code
code {
  font-family: 'Source Code Pro', monospace;
  background-color: whitesmoke !important;
  border-radius: $border-radius-2 !important;
  font-size: 14px;
  padding: 0 30px !important;
  margin: 0;
}
.btn {
  margin: 5px;
}
