$border-directions: (
  a: all,
  v: vertical,
  h: horizontal,
  t: top,
  r: right,
  b: bottom,
  l: left
) !default;

@mixin create-borders {
  $color: "$color";
  @each $breakpoint in $grid-breakpoints {
    @media (min-width: #{nth($breakpoint, 2)}) {
      @each $direction in $border-directions {
        @if nth($direction, 1) == a {
          .border-#{nth($breakpoint, 1)}-a {
            border-width: $base-border-width;
            border-style: solid;
          }
        }
        @else if nth($direction, 1) == v {
          .border-#{nth($breakpoint, 1)}-v {
            border-top: $base-border-width solid;
            border-bottom: $base-border-width solid;
          }
        }
        @else if nth($direction, 1) == h {
          .border-#{nth($breakpoint, 1)}-h {
            border-right: $base-border-width solid;
            border-left: $base-border-width solid;
          }
        }
        @else {
          .border-#{nth($breakpoint, 1)}-#{nth($direction, 1)} {
            border-#{nth($direction, 2)}: $base-border-width solid;
          }
        }
      }
    }
  }
}

@include create-borders();
