@mixin make-spacing() {
  $spacing-types: (
    m: margin,
    p: padding
  );
  $directions: (
    a, // All
    v, // Vertical
    h, // Horizontal
    t, // Top
    r, // Right
    b, // Bottom
    l  // Left
  );
  $margin-auto-directions: (
    r, // Right
    l, // Left
    h // Horizontal
  );
  @each $breakpoint in $grid-breakpoints {
    @media (min-width: #{nth($breakpoint, 2)}) {
      @each $type in $spacing-types {
        @each $direction in $directions {
          @each $size in $spacing {
            $amount: nth($size, 2);
            .#{nth($type, 1)}#{nth($direction, 1)}-#{nth($breakpoint, 1)}-#{nth($size, 1)} {
              @if $direction == a {
                #{nth($type, 2)}-top: $amount !important;
                #{nth($type, 2)}-right: $amount !important;
                #{nth($type, 2)}-bottom: $amount !important;
                #{nth($type, 2)}-left: $amount !important;
              }
              @else if $direction == v {
                #{nth($type, 2)}-top: $amount !important;
                #{nth($type, 2)}-bottom: $amount !important;
              }
              @else if $direction == h {
                #{nth($type, 2)}-right: $amount !important;
                #{nth($type, 2)}-left: $amount !important;
              }
              @else if $direction == t {
                #{nth($type, 2)}-top: $amount !important;
              }
              @else if $direction == r {
                #{nth($type, 2)}-right: $amount !important;
              }
              @else if $direction == b {
                #{nth($type, 2)}-bottom: $amount !important;
              }
              @else if $direction == l {
                #{nth($type, 2)}-left: $amount !important;
              }
            }
          }
        }
      }
    }
  }
  @each $breakpoint in $grid-breakpoints {
    @media (min-width: #{nth($breakpoint, 2)}) {
      @each $direction in $margin-auto-directions {
        .m#{nth($direction, 1)}-#{nth($breakpoint, 1)}-auto {
          @if $direction == h {
            margin-left: auto;
            margin-right: auto;
          }
          @else if $direction == l {
            margin-left: auto;
          }
          @else if $direction == r {
            margin-right: auto;
          }
        }
      }
    }
  }
}

@if $spacing-enabled == true {
  @include make-spacing();
}
