// Button Styles
.btn {
  display: inline-block;
  padding-right: $button-x-2;
  padding-left: $button-x-2;
  border: $button-border-width;
  border-radius: $button-border-radius;
  background-color: $button-bg-color;
  color: $button-font-color;
  text-align: center;
  text-decoration: none;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  cursor: pointer;
  transition-delay: 0;
  transition-timing-function: ease-in;
  transition-duration: $button-transition-duration;
  transition-property: background border-color color;
  user-select: none;
  appearance: none;
  &:not([class*='btn-outlined']) {
    padding-top: $button-y-2;
    padding-bottom: $button-y-2;
  }
  &:hover {
    background-color: darken($button-bg-color, 10%);
  }
  &:disabled,
  &.btn-disabled {
    background-color: lighten($button-bg-color, 40%);
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
}

// Sizes (Size "2" is built into .btn class)
.btn-1 {
  padding-right: $button-x-1;
  padding-left: $button-x-1;
  font-size: 1.375rem;
  &:not([class*='btn-outlined']) {
    padding-top: $button-y-1;
    padding-bottom: $button-y-1;
  }
  &[class*='btn-outlined'] {
    padding-top: ($button-y-1 - 0.125rem);
    padding-bottom: ($button-y-1 - 0.125rem);
  }
}
.btn-3 {
  padding-right: $button-x-3;
  padding-left: $button-x-3;
  font-size: 0.750em;
  &:not([class*='btn-outlined']) {
    padding-top: $button-y-3;
    padding-bottom: $button-y-3;
  }
  &[class*='btn-outlined'] {
    padding-top: ($button-y-3 - 0.125rem);
    padding-bottom: ($button-y-3 - 0.125rem);
  }
}

// Basic solid colors
.btn-red {
  background-color: $red;
  &:hover {
    background-color: darken($red, 20%)
  }
  &:disabled,
  &.btn-disabled {
    background-color: lighten($red, 40%);
  }
}
.btn-green {
  background-color: $green;
  &:hover {
    background-color: darken($green, 20%)
  }
  &:disabled,
  &.btn-disabled {
    background-color: $green-light;
  }
}
.btn-gray {
  background-color: $gray-lighter;
  color: $gray-darker;
  &:hover {
    background-color: darken($gray-lighter, 20%)
  }
  &:disabled,
  &.btn-disabled {
    background-color: $gray-lighter;
    color: $gray-light;
  }
}

// Button outlines
*[class*='btn-outline'] {
  background-color: transparent;
  border-width: $button-border-width;
  border-style: solid;
  padding-top: ($button-y-2 - 0.125rem);
  padding-bottom: ($button-y-2 - 0.125rem);
  &:hover,
  &:disabled {
    background-color: transparent;
  }
}
.btn-outlined {
  border-color: $blue;
  color: $blue;
  &:hover {
    border-color: darken($blue, 20%);
    color: darken($blue, 20%);
  }
  &:disabled {
    border-color: $blue-light;
    color: $blue-light;
  }
}
.btn-outlined-red {
  border-color: $red;
  color: $red;
  &:hover {
    border-color: darken($red, 20%);
    color: darken($red, 20%);
  }
  &:disabled {
    border-color: $red-light;
    color: $red-light;
  }
}
.btn-outlined-green {
  border-color: $green;
  color: $green;
  &:hover {
    border-color: darken($green, 20%);
    color: darken($green, 20%);
  }
  &:disabled {
    border-color: $green-light;
    color: $green-light;
  }
}
.btn-outlined-gray {
  border-color: $gray-light;
  color: $gray;
  &:hover {
    border-color: $gray;
    color: $gray-dark;
  }
  &:disabled {
    border-color: $gray-lighter;
    color: lighten($gray-light, 20%);
  }
}

// ======================
// !! Deprecated !!
// ======================

// .btn:hover {
//   text-decoration: none;
// }
// .btn:focus {
//   outline: none;
//   box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.5);
// }

// // Responsive Button
// .btn--full {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   text-align: center;
//   width: 100%;
// }
// @include mq(sm) {
//   .btn--full {
//     display: inline-block;
//     width: inherit;
//   }
// }
//
// .btn--4 {
//   padding: 0 10px;
//   height: $form-height-4;
//   line-height: $form-height-4;
//   font-size: $form-font-4;
// }
// .btn--3 {
//   padding: 0 14px;
//   height: $form-height-3;
//   line-height: $form-height-3;
//   font-size: $form-font-3;
// }
// .btn--2 {
//   padding: 0 16px;
//   height: $form-height-2;
//   line-height: $form-height-2;
//   font-size: $form-font-2;
// }
// .btn--1 {
//   padding: 0 20px;
//   height: $form-height-1;
//   line-height: $form-height-1;
//   font-size: $form-font-1;
// }
