.input {
  vertical-align: middle;
}
.input--4 {
  padding: 0 10px;
  height: $form-height-4;
  font-size: $form-font-4;
}
.input--3 {
  padding: 0 14px;
  height: $form-height-3;
  font-size: $form-font-3;
}
.input--2 {
  padding: 0 16px;
  height: $form-height-2;
  font-size: $form-font-2;
}
.input--1 {
  padding: 0 20px;
  height: $form-height-1;
  font-size: $form-font-1;
}
