.bw0 { border-width: 0; }
.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }
.bw3 { border-width: .5rem; }
.bw4 { border-width: 1rem; }
.bw5 { border-width: 2rem; }

.bt-0 { border-top-width: 0; }
.br-0 { border-right-width: 0; }
.bb-0 { border-bottom-width: 0; }
.bl-0 { border-left-width: 0; }

@media (min-width: $breakpoint-sm) {
  .bw0-sm { border-width: 0; }
  .bw1-sm { border-width: .125rem; }
  .bw2-sm { border-width: .25rem; }
  .bw3-sm { border-width: .5rem; }
  .bw4-sm { border-width: 1rem; }
  .bw5-sm { border-width: 2rem; }
  .bt-0-sm { border-top-width: 0; }
  .br-0-sm { border-right-width: 0; }
  .bb-0-sm { border-bottom-width: 0; }
  .bl-0-sm { border-left-width: 0; }
}
@media (min-width: $breakpoint-md) {
  .bw0-md { border-width: 0; }
  .bw1-md { border-width: .125rem; }
  .bw2-md { border-width: .25rem; }
  .bw3-md { border-width: .5rem; }
  .bw4-md { border-width: 1rem; }
  .bw5-md { border-width: 2rem; }
  .bt-0-md { border-top-width: 0; }
  .br-0-md { border-right-width: 0; }
  .bb-0-md { border-bottom-width: 0; }
  .bl-0-md { border-left-width: 0; }
}
@media (min-width: $breakpoint-lg) {
  .bw0-lg { border-width: 0; }
  .bw1-lg { border-width: .125rem; }
  .bw2-lg { border-width: .25rem; }
  .bw3-lg { border-width: .5rem; }
  .bw4-lg { border-width: 1rem; }
  .bw5-lg { border-width: 2rem; }
  .bt-0-lg { border-top-width: 0; }
  .br-0-lg { border-right-width: 0; }
  .bb-0-lg { border-bottom-width: 0; }
  .bl-0-lg { border-left-width: 0; }
}
@media (min-width: $breakpoint-xl) {
  .bw0-xl { border-width: 0; }
  .bw1-xl { border-width: .125rem; }
  .bw2-xl { border-width: .25rem; }
  .bw3-xl { border-width: .5rem; }
  .bw4-xl { border-width: 1rem; }
  .bw5-xl { border-width: 2rem; }
  .bt-0-xl { border-top-width: 0; }
  .br-0-xl { border-right-width: 0; }
  .bb-0-xl { border-bottom-width: 0; }
  .bl-0-xl { border-left-width: 0; }
}
@media (min-width: $breakpoint-xxl) {
  .bw0-xxl { border-width: 0; }
  .bw1-xxl { border-width: .125rem; }
  .bw2-xxl { border-width: .25rem; }
  .bw3-xxl { border-width: .5rem; }
  .bw4-xxl { border-width: 1rem; }
  .bw5-xxl { border-width: 2rem; }
  .bt-0-xxl { border-top-width: 0; }
  .br-0-xxl { border-right-width: 0; }
  .bb-0-xxl { border-bottom-width: 0; }
  .bl-0-xxl { border-left-width: 0; }
}
