.fr { float: right; }
.fl { float: left; }
.fn { float: none; }

@media (min-width: $breakpoint-sm) {
  .fr-sm { float: right; }
  .fl-sm { float: left; }
  .fn-sm { float: none; }
}
@media (min-width: $breakpoint-md) {
  .fr-md { float: right; }
  .fl-md { float: left; }
  .fn-md { float: none; }
}
@media (min-width: $breakpoint-lg) {
  .fr-lg { float: right; }
  .fl-lg { float: left; }
  .fn-lg { float: none; }
}
@media (min-width: $breakpoint-xl) {
  .fr-xl { float: right; }
  .fl-xl { float: left; }
  .fn-xl { float: none; }
}
@media (min-width: $breakpoint-xxl) {
  .fr-xxl { float: right; }
  .fl-xxl { float: left; }
  .fn-xxl { float: none; }
}
