.white { color: white; }
.black { color: black; }
.gray { color: var(--gray); }

@media (--breakpoint-sm) {
  .white-sm { color: white; }
  .black-sm { color: black; }
  .gray-sm { color: var(--gray); }
}
@media (--breakpoint-md) {
  .white-md { color: white; }
  .black-md { color: black; }
  .gray-md { color: var(--gray); }
}
@media (--breakpoint-lg) {
  .white-lg { color: white; }
  .black-lg { color: black; }
  .gray-lg { color: var(--gray); }
}
@media (--breakpoint-xl) {
  .white-xl { color: white; }
  .black-xl { color: black; }
  .gray-xl { color: var(--gray); }
}
@media (--breakpoint-xxl) {
  .white-xxl { color: white; }
  .black-xxl { color: black; }
  .gray-xxl { color: var(--gray); }
}
