a,
.link {
  color: $link-base-color;
  &:hover {
    color: darken($link-base-color, 10%);
  }
  &:focus {
    outline: 1;
    color: darken($link-base-color, 15%);
  }
}

.link-red {
  color: $red;
  &:hover {
    color: darken($red, 10%);
  }
  &:focus {
    outline: 1;
    color: darken($red, 15%);
  }
}

.link-green {
  color: $green;
  &:hover {
    color: darken($green, 10%);
  }
  &:focus {
    outline: 1;
    color: darken($green, 15%);
  }
}
