/*
  Legend:
  -----
  mw = max width
*/

.mw-100  { max-width: 100%; }
.mw-none { max-width: none; }

.mw1 { max-width: $max-width-1; }
.mw2 { max-width: $max-width-2; }
.mw3 { max-width: $max-width-3; }
.mw4 { max-width: $max-width-4; }
.mw5 { max-width: $max-width-5; }
.mw6 { max-width: $max-width-6; }
.mw7 { max-width: $max-width-7; }
.mw8 { max-width: $max-width-8; }
.mw9 { max-width: $max-width-9; }

@include mq(sm) {
  .mw-100-sm  { max-width: 100%; }
  .mw-none-sm { max-width: none; }

  .mw1-sm { max-width: $max-width-1; }
  .mw2-sm { max-width: $max-width-2; }
  .mw3-sm { max-width: $max-width-3; }
  .mw4-sm { max-width: $max-width-4; }
  .mw5-sm { max-width: $max-width-5; }
  .mw6-sm { max-width: $max-width-6; }
  .mw7-sm { max-width: $max-width-7; }
  .mw8-sm { max-width: $max-width-8; }
  .mw9-sm { max-width: $max-width-9; }
}
@include mq(md) {
  .mw-100-md  { max-width: 100%; }
  .mw-none-md { max-width: none; }

  .mw1-md { max-width: $max-width-1; }
  .mw2-md { max-width: $max-width-2; }
  .mw3-md { max-width: $max-width-3; }
  .mw4-md { max-width: $max-width-4; }
  .mw5-md { max-width: $max-width-5; }
  .mw6-md { max-width: $max-width-6; }
  .mw7-md { max-width: $max-width-7; }
  .mw8-md { max-width: $max-width-8; }
  .mw9-md { max-width: $max-width-9; }
}
@include mq(lg) {
  .mw-100-lg  { max-width: 100%; }
  .mw-none-lg { max-width: none; }

  .mw1-lg { max-width: $max-width-1; }
  .mw2-lg { max-width: $max-width-2; }
  .mw3-lg { max-width: $max-width-3; }
  .mw4-lg { max-width: $max-width-4; }
  .mw5-lg { max-width: $max-width-5; }
  .mw6-lg { max-width: $max-width-6; }
  .mw7-lg { max-width: $max-width-7; }
  .mw8-lg { max-width: $max-width-8; }
  .mw9-lg { max-width: $max-width-9; }
}
@include mq(xl) {
  .mw-100-xl  { max-width: 100%; }
  .mw-none-xl { max-width: none; }

  .mw1-xl { max-width: $max-width-1; }
  .mw2-xl { max-width: $max-width-2; }
  .mw3-xl { max-width: $max-width-3; }
  .mw4-xl { max-width: $max-width-4; }
  .mw5-xl { max-width: $max-width-5; }
  .mw6-xl { max-width: $max-width-6; }
  .mw7-xl { max-width: $max-width-7; }
  .mw8-xl { max-width: $max-width-8; }
  .mw9-xl { max-width: $max-width-9; }
}
@include mq(xxl) {
  .mw-100-xxl  { max-width: 100%; }
  .mw-none-xxl { max-width: none; }

  .mw1-xxl { max-width: $max-width-1; }
  .mw2-xxl { max-width: $max-width-2; }
  .mw3-xxl { max-width: $max-width-3; }
  .mw4-xxl { max-width: $max-width-4; }
  .mw5-xxl { max-width: $max-width-5; }
  .mw6-xxl { max-width: $max-width-6; }
  .mw7-xxl { max-width: $max-width-7; }
  .mw8-xxl { max-width: $max-width-8; }
  .mw9-xxl { max-width: $max-width-9; }
}
