.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

@media (min-width: $breakpoint-sm) {
  .ttc-sm { text-transform: capitalize; }
  .ttl-sm { text-transform: lowercase; }
  .ttu-sm { text-transform: uppercase; }
  .ttn-sm { text-transform: none; }
}
@media (min-width: $breakpoint-md) {
  .ttc-md { text-transform: capitalize; }
  .ttl-md { text-transform: lowercase; }
  .ttu-md { text-transform: uppercase; }
  .ttn-md { text-transform: none; }
}
@media (min-width: $breakpoint-lg) {
  .ttc-lg { text-transform: capitalize; }
  .ttl-lg { text-transform: lowercase; }
  .ttu-lg { text-transform: uppercase; }
  .ttn-lg { text-transform: none; }
}
@media (min-width: $breakpoint-xl) {
  .ttc-xl { text-transform: capitalize; }
  .ttl-xl { text-transform: lowercase; }
  .ttu-xl { text-transform: uppercase; }
  .ttn-xl { text-transform: none; }
}
@media (min-width: $breakpoint-xxl) {
  .ttc-xxl { text-transform: capitalize; }
  .ttl-xxl { text-transform: lowercase; }
  .ttu-xxl { text-transform: uppercase; }
  .ttn-xxl { text-transform: none; }
}
