.bold { font-weight: bold; }
.italic { font-style: italic; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.caps {
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
