.fsi { font-size: inherit; }
.fs1 { font-size: $type-scale-1; }
.fs2 { font-size: $type-scale-2; }
.fs3 { font-size: $type-scale-3;}
.fs4 { font-size: $type-scale-4; }
.fs5 { font-size: $type-scale-5; }
.fs6 { font-size: $type-scale-6; }
.fs7 { font-size: $type-scale-7; }
.fs8 { font-size: $type-scale-8; }

@media (min-width: $breakpoint-sm) {
  .fsi-sm { font-size: inherit; }
  .fs1-sm { font-size: $type-scale-1; }
  .fs2-sm { font-size: $type-scale-2; }
  .fs3-sm { font-size: $type-scale-3;}
  .fs4-sm { font-size: $type-scale-4; }
  .fs5-sm { font-size: $type-scale-5; }
  .fs6-sm { font-size: $type-scale-6; }
  .fs7-sm { font-size: $type-scale-7; }
  .fs8-sm { font-size: $type-scale-8; }
}
@media (min-width: $breakpoint-md) {
  .fsi-md { font-size: inherit; }
  .fs1-md { font-size: $type-scale-1; }
  .fs2-md { font-size: $type-scale-2; }
  .fs3-md { font-size: $type-scale-3;}
  .fs4-md { font-size: $type-scale-4; }
  .fs5-md { font-size: $type-scale-5; }
  .fs6-md { font-size: $type-scale-6; }
  .fs7-md { font-size: $type-scale-7; }
  .fs8-md { font-size: $type-scale-8; }
}
@media (min-width: $breakpoint-lg) {
  .fsi-lg { font-size: inherit; }
  .fs1-lg { font-size: $type-scale-1; }
  .fs2-lg { font-size: $type-scale-2; }
  .fs3-lg { font-size: $type-scale-3;}
  .fs4-lg { font-size: $type-scale-4; }
  .fs5-lg { font-size: $type-scale-5; }
  .fs6-lg { font-size: $type-scale-6; }
  .fs7-lg { font-size: $type-scale-7; }
  .fs8-lg { font-size: $type-scale-8; }
}
@media (min-width: $breakpoint-xl) {
  .fsi-xl { font-size: inherit; }
  .fs1-xl { font-size: $type-scale-1; }
  .fs2-xl { font-size: $type-scale-2; }
  .fs3-xl { font-size: $type-scale-3;}
  .fs4-xl { font-size: $type-scale-4; }
  .fs5-xl { font-size: $type-scale-5; }
  .fs6-xl { font-size: $type-scale-6; }
  .fs7-xl { font-size: $type-scale-7; }
  .fs8-xl { font-size: $type-scale-8; }
}
@media (min-width: $breakpoint-xxl) {
  .fsi-xxl { font-size: inherit; }
  .fs1-xxl { font-size: $type-scale-1; }
  .fs2-xxl { font-size: $type-scale-2; }
  .fs3-xxl { font-size: $type-scale-3;}
  .fs4-xxl { font-size: $type-scale-4; }
  .fs5-xxl { font-size: $type-scale-5; }
  .fs6-xxl { font-size: $type-scale-6; }
  .fs7-xxl { font-size: $type-scale-7; }
  .fs8-xxl { font-size: $type-scale-8; }
}
