// ======================
// Breakpoints & Grid
// ======================

$breakpoint-xs: 0 !default;
$breakpoint-sm: 34rem !default;
$breakpoint-md: 48rem !default;
$breakpoint-lg: 62rem !default;
$breakpoint-xl: 75rem !default;
$breakpoint-xxl: 87rem !default;

$container-width-sm: 36rem !default;
$container-width-md: 45rem !default;
$container-width-lg: 58.75rem !default;
$container-width-xl: 71.25rem !default;
$container-width-xxl: 83rem !default;

$flex-grid-enabled: true !default;
$box-grid-enabled: false !default;
$grid-columns: 12 !default;
$grid-gutter-width: 1.875rem !default;

// ======================
// Spacing
// ======================

$spacing-0: 0rem !default;
$spacing-1: .5rem !default;
$spacing-2: 1rem !default;
$spacing-3: 2rem !default;
$spacing-4: 3rem !default;
$spacing-5: 4rem !default;
$spacing-6: 5rem !default;
$spacing-7: 6rem !default;
$spacing-8: 7rem !default;
$spacing-9: 8rem !default;

$spacing-enabled: true !default;

// ======================
// Max-widths
// ======================

$max-width-1: 1rem !default;
$max-width-2: 2rem !default;
$max-width-3: 4rem !default;
$max-width-4: 8rem !default;
$max-width-5: 16rem !default;
$max-width-6: 32rem !default;
$max-width-7: 48rem !default;
$max-width-8: 64rem !default;
$max-width-9: 96rem !default;

// ======================
// Colors
// ======================

$black: #111 !default;
$white: #fff !default;

$blue-saturated-darker: #001620 !default;
$blue-saturated-dark: #002531 !default;
$blue-saturated: #003546 !default;
$blue-saturated-light: #1f4753 !default;
$blue-saturated-lighter: #438193 !default;

$blue: #00B0E9 !default;
$blue-light: lighten($blue, 30%) !default;
$blue-lighter: lighten($blue, 90%) !default;

$gray-darker: #272b2d !default;
$gray-dark: #4d5659 !default;
$gray: #828c8f !default;
$gray-light: #b7c0c3 !default;
$gray-lighter: #e6eaed !default;

$pink: #EE0788 !default;
$pink-light: #fec1d1 !default;
$pink-lighter: #ffedf2 !default;

$green: #43bb6e !default;
$green-light: lighten($green, 70%) !default;
$green-lighter: #e8f7ef !default;

$red: #e80044 !default;
$red-light: lighten($red, 40%) !default;
$red-lighter: lighten($red, 90%) !default;

$orange: #f18902;
$orange-light: lighten($orange, 50%) !default;
$orange-lighter: lighten($orange, 85%) !default;

$darken-1: rgba(0, 0, 0, .0625) !default;
$darken-2: rgba(0, 0, 0, .125) !default;
$darken-3: rgba(0, 0, 0, .25) !default;

// ======================
// Typography
// ======================

$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: 0.875rem !default;
$h6: 0.75rem !default;

$line-height-1: 1.125 !default;
$line-height-2: 1.25 !default;
$line-height-3: 1.5 !default;

$type-scale-1: 0.875rem !default;
$type-scale-2: 1rem !default;
$type-scale-3: 1.25rem !default;
$type-scale-4: 1.5rem !default;
$type-scale-5: 2.25rem !default;
$type-scale-6: 3rem !default;
$type-scale-7: 4rem !default;
$type-scale-8: 5rem !default;
$type-scale-9: 6rem !default;
$type-scale-10: 7rem !default;

$tracking-1: -0.5rem !default;
$tracking-2: 0.1rem !default;
$tracking-3: 0.15rem !default;

$sans-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$serif-default: "Georgia", "Lucida Bright", "Times New Roman", Times, serif !default;

$base-font-family: $sans-default !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$base-font-color: $gray-dark !default;
$base-selection-color: $blue-light !default;

// ======================
// Borders
// ======================

$base-border-width: 2px !default;
$border-radius-1: 0.125rem !default;
$border-radius-2: 0.188rem !default;
$border-radius-3: 0.25rem !default;
$border-radius-4: 0.5rem !default;
$border-radius-5: 1rem !default;
$base-border-radius: $border-radius-2 !default;

// ======================
// Forms
// ======================

$form-height-1: 36px !default;
$form-height-2: 44px !default;
$form-height-3: 53px !default;

$form-font-1: 14px !default;
$form-font-2: 16px !default;
$form-font-3: 18px !default;

$form-border-width: 2px !default;
$form-border-color: $gray-light !default;
$form-border-color-focus: $blue !default;
$form-background-color-focus: lighten($form-border-color-focus, 50%) !default;
$form-radius: 3px !default;
