/*
  Legend:
  -----
  bs = border style
*/

.bs-dotted { border-style: dotted; }
.bs-dashed { border-style: dashed; }
.bs-solid {  border-style: solid; }
.bs-none {   border-style: none; }

@include mq(sm) {
  .bs-dotted-sm { border-style: dotted; }
  .bs-dashed-sm { border-style: dashed; }
  .bs-solid-sm {  border-style: solid; }
  .bs-none-sm {   border-style: none; }
}
@include mq(md) {
  .bs-dotted-md { border-style: dotted; }
  .bs-dashed-md { border-style: dashed; }
  .bs-solid-md {  border-style: solid; }
  .bs-none-md {   border-style: none; }
}
@include mq(lg) {
  .bs-dotted-lg { border-style: dotted; }
  .bs-dashed-lg { border-style: dashed; }
  .bs-solid-lg {  border-style: solid; }
  .bs-none-lg {   border-style: none; }
}
@include mq(xl) {
  .bs-dotted-xl { border-style: dotted; }
  .bs-dashed-xl { border-style: dashed; }
  .bs-solid-xl {  border-style: solid; }
  .bs-none-xl {   border-style: none; }
}
@include mq(xxl) {
  .bs-dotted-xxl { border-style: dotted; }
  .bs-dashed-xxl { border-style: dashed; }
  .bs-solid-xxl {  border-style: solid; }
  .bs-none-xxl {   border-style: none; }
}
