.top0 { top: 0; }
.top1 { top: $spacing-1; }
.top2 { top: $spacing-2; }
.top3 { top: $spacing-3; }

.right0 { right:  0; }
.right1 { right: $spacing-1; }
.right2 { right: $spacing-2; }
.right3 { right: $spacing-3; }

.bottom0 { bottom: 0; }
.bottom1 { bottom: $spacing-1; }
.bottom2 { bottom: $spacing-2; }
.bottom3 { bottom: $spacing-3; }

.left0 { left: 0; }
.left1 { left: $spacing-1; }
.left2 { left: $spacing-2; }
.left3 { left: $spacing-3; }

@media (min-width: $breakpoint-sm) {
  .top0-sm { top: 0; }
  .top1-sm { top: $spacing-1; }
  .top2-sm { top: $spacing-2; }
  .top3-sm { top: $spacing-3; }

  .right0-sm { right:  0; }
  .right1-sm { right: $spacing-1; }
  .right2-sm { right: $spacing-2; }
  .right3-sm { right: $spacing-3; }

  .bottom0-sm { bottom: 0; }
  .bottom1-sm { bottom: $spacing-1; }
  .bottom2-sm { bottom: $spacing-2; }
  .bottom3-sm { bottom: $spacing-3; }

  .left0-sm { left: 0; }
  .left1-sm { left: $spacing-1; }
  .left2-sm { left: $spacing-2; }
  .left3-sm { left: $spacing-3; }
}
@media (min-width: $breakpoint-md) {
  .top0-md { top: 0; }
  .top1-md { top: $spacing-1; }
  .top2-md { top: $spacing-2; }
  .top3-md { top: $spacing-3; }

  .right0-md { right:  0; }
  .right1-md { right: $spacing-1; }
  .right2-md { right: $spacing-2; }
  .right3-md { right: $spacing-3; }

  .bottom0-md { bottom: 0; }
  .bottom1-md { bottom: $spacing-1; }
  .bottom2-md { bottom: $spacing-2; }
  .bottom3-md { bottom: $spacing-3; }

  .left0-md { left: 0; }
  .left1-md { left: $spacing-1; }
  .left2-md { left: $spacing-2; }
  .left3-md { left: $spacing-3; }
}
@media (min-width: $breakpoint-lg) {
  .top0-lg { top: 0; }
  .top1-lg { top: $spacing-1; }
  .top2-lg { top: $spacing-2; }
  .top3-lg { top: $spacing-3; }

  .right0-lg { right:  0; }
  .right1-lg { right: $spacing-1; }
  .right2-lg { right: $spacing-2; }
  .right3-lg { right: $spacing-3; }

  .bottom0-lg { bottom: 0; }
  .bottom1-lg { bottom: $spacing-1; }
  .bottom2-lg { bottom: $spacing-2; }
  .bottom3-lg { bottom: $spacing-3; }

  .left0-lg { left: 0; }
  .left1-lg { left: $spacing-1; }
  .left2-lg { left: $spacing-2; }
  .left3-lg { left: $spacing-3; }
}
@media (min-width: $breakpoint-xl) {
  .top0-xl { top: 0; }
  .top1-xl { top: $spacing-1; }
  .top2-xl { top: $spacing-2; }
  .top3-xl { top: $spacing-3; }

  .right0-xl { right:  0; }
  .right1-xl { right: $spacing-1; }
  .right2-xl { right: $spacing-2; }
  .right3-xl { right: $spacing-3; }

  .bottom0-xl { bottom: 0; }
  .bottom1-xl { bottom: $spacing-1; }
  .bottom2-xl { bottom: $spacing-2; }
  .bottom3-xl { bottom: $spacing-3; }

  .left0-xl { left: 0; }
  .left1-xl { left: $spacing-1; }
  .left2-xl { left: $spacing-2; }
  .left3-xl { left: $spacing-3; }
}
@media (min-width: $breakpoint-xxl) {
  .top0-xxl { top: 0; }
  .top1-xxl { top: $spacing-1; }
  .top2-xxl { top: $spacing-2; }
  .top3-xxl { top: $spacing-3; }

  .right0-xxl { right:  0; }
  .right1-xxl { right: $spacing-1; }
  .right2-xxl { right: $spacing-2; }
  .right3-xxl { right: $spacing-3; }

  .bottom0-xxl { bottom: 0; }
  .bottom1-xxl { bottom: $spacing-1; }
  .bottom2-xxl { bottom: $spacing-2; }
  .bottom3-xxl { bottom: $spacing-3; }

  .left0-xxl { left: 0; }
  .left1-xxl { left: $spacing-1; }
  .left2-xxl { left: $spacing-2; }
  .left3-xxl { left: $spacing-3; }
}
