body {
  font-family: #{$base-font-family};
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;
  text-rendering: optimizeSpeed
}

.bold { font-weight: bold; }
.italic { font-style: italic; }

.list-reset {
  padding-left: 0;
  list-style: none;
}
.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.caps {
  letter-spacing: $tracking-3;
  text-transform: uppercase;
}

::-moz-selection {
  background-color: $base-selection-color;
  color: white;
}
::selection {
  background-color: $base-selection-color;
  color: white;
}
