.wa { width: auto; }
.w0 { width: 0; }
.w1 { width: $spacing-1; }
.w2 { width: $spacing-2; }
.w3 { width: $spacing-3; }
.w4 { width: $spacing-4; }
.w5 { width: $spacing-5; }

.w10 { width:  10%; }
.w20 { width:  20%; }
.w25 { width:  25%; }
.w30 { width:  30%; }
.w33 { width:  33%; }
.w34 { width:  34%; }
.w40 { width:  40%; }
.w50 { width:  50%; }
.w60 { width:  60%; }
.w70 { width:  70%; }
.w75 { width:  75%; }
.w80 { width:  80%; }
.w90 { width:  90%; }
.w100 { width: 100%; }

@media (min-width: $breakpoint-sm) {
  .wa-sm { width: auto; }
  .w0-sm { width: 0; }
  .w1-sm { width: $spacing-1; }
  .w2-sm { width: $spacing-2; }
  .w3-sm { width: $spacing-3; }
  .w4-sm { width: $spacing-4; }
  .w5-sm { width: $spacing-5; }

  .w10-sm { width:  10%; }
  .w20-sm { width:  20%; }
  .w25-sm { width:  25%; }
  .w30-sm { width:  30%; }
  .w33-sm { width:  33%; }
  .w34-sm { width:  34%; }
  .w40-sm { width:  40%; }
  .w50-sm { width:  50%; }
  .w60-sm { width:  60%; }
  .w70-sm { width:  70%; }
  .w75-sm { width:  75%; }
  .w80-sm { width:  80%; }
  .w90-sm { width:  90%; }
  .w100-sm { width: 100%; }
}
@media (min-width: $breakpoint-md) {
  .wa-md { width: auto; }
  .w0-md { width: 0; }
  .w1-md { width: $spacing-1; }
  .w2-md { width: $spacing-2; }
  .w3-md { width: $spacing-3; }
  .w4-md { width: $spacing-4; }
  .w5-md { width: $spacing-5; }

  .w10-md { width:  10%; }
  .w20-md { width:  20%; }
  .w25-md { width:  25%; }
  .w30-md { width:  30%; }
  .w33-md { width:  33%; }
  .w34-md { width:  34%; }
  .w40-md { width:  40%; }
  .w50-md { width:  50%; }
  .w60-md { width:  60%; }
  .w70-md { width:  70%; }
  .w75-md { width:  75%; }
  .w80-md { width:  80%; }
  .w90-md { width:  90%; }
  .w100-md { width: 100%; }
}
@media (min-width: $breakpoint-lg) {
  .wa-lg { width: auto; }
  .w0-lg { width: 0; }
  .w1-lg { width: $spacing-1; }
  .w2-lg { width: $spacing-2; }
  .w3-lg { width: $spacing-3; }
  .w4-lg { width: $spacing-4; }
  .w5-lg { width: $spacing-5; }

  .w10-lg { width:  10%; }
  .w20-lg { width:  20%; }
  .w25-lg { width:  25%; }
  .w30-lg { width:  30%; }
  .w33-lg { width:  33%; }
  .w34-lg { width:  34%; }
  .w40-lg { width:  40%; }
  .w50-lg { width:  50%; }
  .w60-lg { width:  60%; }
  .w70-lg { width:  70%; }
  .w75-lg { width:  75%; }
  .w80-lg { width:  80%; }
  .w90-lg { width:  90%; }
  .w100-lg { width: 100%; }
}
@media (min-width: $breakpoint-xl) {
  .wa-xl { width: auto; }
  .w0-xl { width: 0; }
  .w1-xl { width: $spacing-1; }
  .w2-xl { width: $spacing-2; }
  .w3-xl { width: $spacing-3; }
  .w4-xl { width: $spacing-4; }
  .w5-xl { width: $spacing-5; }

  .w10-xl { width:  10%; }
  .w20-xl { width:  20%; }
  .w25-xl { width:  25%; }
  .w30-xl { width:  30%; }
  .w33-xl { width:  33%; }
  .w34-xl { width:  34%; }
  .w40-xl { width:  40%; }
  .w50-xl { width:  50%; }
  .w60-xl { width:  60%; }
  .w70-xl { width:  70%; }
  .w75-xl { width:  75%; }
  .w80-xl { width:  80%; }
  .w90-xl { width:  90%; }
  .w100-xl { width: 100%; }
}
@media (min-width: $breakpoint-xxl) {
  .wa-xxl { width: auto; }
  .w0-xxl { width: 0; }
  .w1-xxl { width: $spacing-1; }
  .w2-xxl { width: $spacing-2; }
  .w3-xxl { width: $spacing-3; }
  .w4-xxl { width: $spacing-4; }
  .w5-xxl { width: $spacing-5; }

  .w10-xxl { width:  10%; }
  .w20-xxl { width:  20%; }
  .w25-xxl { width:  25%; }
  .w30-xxl { width:  30%; }
  .w33-xxl { width:  33%; }
  .w34-xxl { width:  34%; }
  .w40-xxl { width:  40%; }
  .w50-xxl { width:  50%; }
  .w60-xxl { width:  60%; }
  .w70-xxl { width:  70%; }
  .w75-xxl { width:  75%; }
  .w80-xxl { width:  80%; }
  .w90-xxl { width:  90%; }
  .w100-xxl { width: 100%; }
}
