/*

Instructions:
Override values by editing variables directly or by adding your own override config file.

Table of Contents:
- Breakpoints & Grid
- Spacing
- Max-widths
- Colors
- Typography
- Borders
- Forms
- Buttons

*/

// ======================
// Breakpoints & Grid
// ======================

$breakpoint-xs: 0 !default;
$breakpoint-sm: 34rem !default;
$breakpoint-md: 48rem !default;
$breakpoint-lg: 62rem !default;
$breakpoint-xl: 75rem !default;
$breakpoint-xxl: 87rem !default;

$container-width-sm: 36rem !default;
$container-width-md: 45rem !default;
$container-width-lg: 58.75rem !default;
$container-width-xl: 71.25rem !default;
$container-width-xxl: 83rem !default;

// Options
$grid-enabled: true !default;
$grid-columns: 12 !default;
$grid-gutter-width: 1.875rem !default;

// ======================
// Spacing
// ======================

$spacing-0: 0rem !default;
$spacing-1: 4rem !default;
$spacing-2: 3rem !default;
$spacing-3: 2rem !default;
$spacing-4: 1rem !default;
$spacing-5: .5rem !default;
$spacing-6: .25rem !default;

// Options
$spacing-enabled: true !default;

// ======================
// Max-widths
// ======================

$max-width-1: 1rem !default;
$max-width-2: 2rem !default;
$max-width-3: 4rem !default;
$max-width-4: 8rem !default;
$max-width-5: 16rem !default;
$max-width-6: 32rem !default;
$max-width-7: 48rem !default;
$max-width-8: 64rem !default;
$max-width-9: 96rem !default;

// ======================
// Colors
// ======================

$blue-saturated-darker: #001620 !default;
$blue-saturated-dark: #002531 !default;
$blue-saturated: #003546 !default;
$blue-saturated-light: #1f4753 !default;
$blue-saturated-lighter: #438193 !default;

$blue: #00B0E9 !default;
$blue-light: lighten($blue, 30%) !default;
$blue-lighter: lighten($blue, 90%) !default;

$gray-darker: #272b2d !default;
$gray-dark: #4d5659 !default;
$gray: #828c8f !default;
$gray-light: #b7c0c3 !default;
$gray-lighter: #e6eaed !default;

$pink: #EE0788 !default;
$pink-light: #fec1d1 !default;
$pink-lighter: #ffedf2 !default;

$green: #43bb6e !default;
$green-light: lighten($green, 70%) !default;
$green-lighter: #e8f7ef !default;

$red: #e80044 !default;
$red-light: lighten($red, 40%) !default;
$red-lighter: lighten($red, 90%) !default;

$orange: #f18902;
$orange-light: lighten($orange, 50%) !default;
$orange-lighter: lighten($orange, 85%) !default;

// ======================
// Typography
// ======================

$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: 0.875rem !default;
$h6: 0.75rem !default;

$line-height-1: 1.5 !default;
$line-height-2: 1.25 !default;
$line-height-3: 1.125 !default;
$line-height-4: 1 !default;

$letter-spacing: 1 !default;
$caps-letter-spacing: 0.15em !default;

$base-font-family: sans-serif !default;
$base-font-size: 16px !default;
$base-line-height: $line-height-1 !default;
$base-font-color: $gray-dark !default;
$base-selection-color: $blue-light;

// ======================
// Borders
// ======================

$base-border-width: 2px !default;

$border-radii-1: 0.563rem !default;
$border-radii-2: 0.375rem !default;
$border-radii-3: 0.188rem !default;
$border-radii-full: 50% !default;
$base-border-radius: 3px !default;

// ======================
// Forms
// ======================

$form-height-1: 53px !default;
$form-height-2: 44px !default;
$form-height-3: 36px !default;

$form-font-1: 18px !default;
$form-font-2: 16px !default;
$form-font-3: 16px !default;
$form-font-4: 14px !default;

$form-border-width: 2px !default;
$form-border-color: $gray-light !default;
$form-border-color-hover: $blue !default;
$form-radius: 3px !default;

// ======================
// Buttons
// ======================

$button-border-width: 0.125rem !default;
$button-border-radius: $base-border-radius !default;
$button-font-family: inherit !default;
$button-font-size: 16px !default;
$button-font-weight: normal !default;
$button-font-color: white !default;
$button-bg-color: $blue !default;
$button-transition-duration: .15s !default;

$button-y-1: 0.625rem !default;
$button-x-1: 1.875rem !default;
$button-y-2: 0.625rem !default;
$button-x-2: 0.938rem !default;
$button-y-3: 0.563rem !default;
$button-x-3: 0.625rem !default;
