/*

Instructions:
Override values by editing variables directly or by adding your own override config file.

Table of Contents:
1. Breakpoints & Grid
2. Spacing
3. Max-widths
4. Typography
5. Forms & Buttons
6. Borders

*/


// ======================
// Breakpoints & Grid
// ======================

$breakpoint-xs: 0 !default;
$breakpoint-sm: 34rem !default;
$breakpoint-md: 48rem !default;
$breakpoint-lg: 62rem !default;
$breakpoint-xl: 75rem !default;
$breakpoint-xxl: 87rem !default;

$container-width-sm: 36rem !default;
$container-width-md: 45rem !default;
$container-width-lg: 58.75rem !default;
$container-width-xl: 71.25rem !default;
$container-width-xxl: 83rem !default;

// Options
$grid-enabled: true !default;
$grid-columns: 12 !default;
$grid-gutter-width: 1.875rem !default;

// ======================
// Spacing
// ======================

$spacing-0: 0rem !default;
$spacing-1: 4rem !default;
$spacing-2: 3rem !default;
$spacing-3: 2rem !default;
$spacing-4: 1rem !default;
$spacing-5: .5rem !default;
$spacing-6: .25rem !default;

// Options
$spacing-enabled: true !default;

// ======================
// Max-widths
// ======================

$max-width-1: 96rem !default;
$max-width-2: 64rem !default;
$max-width-3: 48rem !default;
$max-width-4: 32rem !default;
$max-width-5: 16rem !default;
$max-width-6: 8rem !default;
$max-width-7: 4rem !default;
$max-width-8: 2rem !default;
$max-width-9: 1rem !default;

// Options
$enable-max-width: true !default;

// ======================
// Typography
// ======================

$base-font-size: 16px !default;

$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: 0.875rem !default;
$h6: 0.75rem !default;

$line-height-4: 1 !default;
$line-height-3: 1.125 !default;
$line-height-2: 1.25 !default;
$line-height-1: 1.5 !default;

$letter-spacing: 1 !default;
$caps-letter-spacing: 0.15em !default;
$bold-font-weight: bold !default;

// ======================
// Forms & Buttons
// ======================

$form-height-1: 60px !default;
$form-height-2: 50px !default;
$form-height-3: 40px !default;
$form-height-4: 30px !default;

$form-font-1: 18px !default;
$form-font-2: 16px !default;
$form-font-3: 16px !default;
$form-font-4: 14px !default;

$border-width: 0px !default;
$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: normal !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;

// ======================
// Borders
// ======================

$base-border-width: 2px !default;

$border-radii-1: 0.563rem !default;
$border-radii-2: 0.375rem !default;
$border-radii-3: 0.188rem !default;
$border-radii-full: 50% !default;
$base-border-radius: 3px;
