// ======================
// Base
// ======================

$base-font-size: 16px !default;
$base-border-radius: 3px !default;
$base-border-width: 2px !default;

// ======================
// Grid
// ======================

$grid-enabled: true !default;
$grid-breakpoints: (
  xs: 0,
  sm: 34rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem
) !default;
$container-max-widths: (
  sm: 36rem,
  md: 45rem,
  lg: 58.75rem,
  xl: 71.25rem
) !default;
$grid-columns:      12 !default;
$grid-gutter-width: 1.875rem !default;

// ======================
// Spacing
// ======================

$spacing-enabled: true !default;
$spacing: (
  0: 0rem,
  1: 4rem,
  2: 3rem,
  3: 2rem,
  4: 1rem,
  5: .5rem,
  6: .25rem
) !default;

// ======================
// Max-widths
// ======================

$enable-max-width: true !default;
$max-widths: (
  1: 96rem,
  2: 64rem,
  3: 48rem,
  4: 32rem,
  5: 16rem,
  6: 8rem,
  7: 4rem,
  8: 2rem,
  9: 1rem
) !default;

// ======================
// Typography
// ======================

$line-height-1: 1 !default;
$line-height-2: 1.125 !default;
$line-height-3: 1.25 !default;
$line-height-4: 1.5 !default;
$letter-spacing: 1 !default;

$caps-letter-spacing: 0.2em !default;
$bold-font-weight: bold !default;

$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: 0.875rem !default;
$h6: 0.75rem !default;

// ======================
// Form Inputs
// ======================

$form-height-1: 60px !default;
$form-height-2: 50px !default;
$form-height-3: 40px !default;
$form-height-4: 30px !default;

$form-font-1: 18px !default;
$form-font-2: 16px !default;
$form-font-3: 16px !default;
$form-font-4: 14px !default;

// ======================
// Buttons
// ======================

$border-width: 0px !default;
$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: normal !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
