// ======================
// Base
// ======================

$base-font-size: 16px !default;
$border-radius: 3px !default;

// ======================
// Grid
// ======================

$grid-enabled: true !default;
$grid-breakpoints: (
  xs: 0,
  sm: 34rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem
) !default;
$container-max-widths: (
  sm: 36rem,
  md: 45rem,
  lg: 58.75rem,
  xl: 71.25rem
) !default;
$grid-columns:      12 !default;
$grid-gutter-width: 1.875rem !default;

// ======================
// Spacing
// ======================

$spacing-enabled: true !default;
$spacing: (
  5: .5rem,
  4: 1rem,
  3: 2rem,
  2: 3rem,
  1: 4rem
) !default;

// ======================
// Max-widths
// ======================

$enable-max-width: true !default;
$max-widths: (
  9: 1rem,
  8: 2rem,
  7: 4rem,
  6: 8rem ,
  5: 16rem,
  4: 32rem,
  3: 48rem,
  2: 64rem,
  1: 96rem
) !default;

// ======================
// Typography
// ======================

// ======================
// Form Inputs
// ======================

$form-height-4: 30px !default;
$form-height-3: 40px !default;
$form-height-2: 50px !default;
$form-height-1: 60px !default;

$form-font-4: 14px !default;
$form-font-3: 16px !default;
$form-font-2: 16px !default;
$form-font-1: 18px !default;

// ======================
// Buttons
// ======================

$border-width: 0px !default;
$bold-font-weight: bold !default;
$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: $bold-font-weight !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
