.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@include mq(xs) {
  .xs-hide {
    display: none!important;
  }
}
@include mq(sm) {
  .sm-hide {
    display: none!important;
  }
}
@include mq(md) {
  .md-hide {
    display: none!important;
  }
}
@include mq(lg) {
  .lg-hide {
    display: none!important;
  }
}
@include mq(xl) {
  .xl-hide {
    display: none!important;
  }
}

.display-none {
  display: none!important;
}

.hidden {
  visibility: hidden;
}
