

@mixin create-max-widths {
  @each $breakpoint in $grid-breakpoints {
    @media (min-width: #{nth($breakpoint, 2)}) {
      @each $max-width in $max-widths {
        .mw-#{nth($breakpoint, 1)}-#{nth($max-width, 1)} {
          max-width: nth($max-width, 2);
        }
      }
    }
  }
}


@if $enable-max-width == true {
  .mw-100 {
    max-width: 100%;
  }
  .mw-90 {
    max-width: 90%;
  }
  .mw-80 {
    max-width: 80%;
  }
  .mw-70 {
    max-width: 70%;
  }
  .mw-60 {
    max-width: 60%;
  }
  .mw-50 {
    max-width: 50%;
  }
  .mw-40 {
    max-width: 40%;
  }
  .mw-30 {
    max-width: 30%;
  }
  .mw-20 {
    max-width: 20%;
  }
  .mw-10 {
    max-width: 10%;
  }
  @include create-max-widths();
}
