$max-widths: (
  6: 0.875rem ,
  5: 1rem,
  4: 1.25rem,
  3: 1.5rem,
  2: 2.25rem,
  1: 3rem
) !default;

@mixin create-max-widths {
  @each $breakpoint in $grid-breakpoints {
    @media (min-width: #{nth($breakpoint, 2)}) {
      @each $max-width in $max-widths {
        .mw-#{nth($breakpoint, 1)}-#{nth($max-width, 1)} {
          max-width: nth($max-width, 2);
        }
      }
    }
  }
}

.mw-full {
  max-width: 100%;
}
@include create-max-widths();
